html {position: relative; min-height: 100%;}

body {margin-top: 50px; margin-bottom: 50px; background-image: url(images/background1.png); padding: inherit;}

nav {font-family: fantasy, sans-serif; align-content: center; display: block; font-weight: bold;}

.navbar-brand {font-family: Georgia, 'Times New Roman', serif;}

main {align-content: center; padding-bottom: 35px; padding: inherit; margin-bottom: 25px;}

h4 {font-family: candara, sans-serif;}

footer {position: fixed; bottom: 0; height: 40px; width: 100%; background-color: #222222; color: #9d9d9d; text-align: center; padding: 5px; font-family: candara, sans-serif; display: block}

li, p {font-family: candara, sans-serif; font-size: medium; padding-right: 50px; font-style: italic;}